.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  padding: 2rem;
  min-width: 100%;
}

.text {
  color: var(--color-texto-secundario);
  font-family: var(--fuente-principal);
  text-align: center;
}

.text span {
  color: var(--color-acento);
}

.hr {
  width: 100%;
}
