.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  background-color: var(--color-texto-principal);
  box-shadow: var(--sombra) inset;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  column-gap: 1rem;
  height: 7rem;
  max-height: 100%;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}

.imagen {
  user-select: none;
  width: auto;
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-user-drag: none;
  object-fit: contain;
}

.second {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.third {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButtonCart {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: var(--color-texto-principal);
  transition: all 0.2s ease;
}

.addButtonCart:hover {
  color: var(--color-acento);
}

.addButtonCartSpan {
  position: absolute;
  top: 0;
  left: 1;
  right: 0;
  bottom: 0;
  transform: translateY(-3px) translateX(-2px);
  font-weight: 700;
}

.nombre {
  font-size: 1rem;
}

.precio {
  color: var(--color-acento);
  font-size: 1.2rem;
}

.stock {
  font-size: 0.9rem;
}

.btnAddCartDesktop {
  display: none;
}

@media (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr;
    height: 100%;
    row-gap: 1rem;
  }

  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .imagen {
    width: auto;
    height: 100%; /* Le decimos que intente llenar el contenedor */
    max-height: 15rem; /* <-- ESTA ES LA LÍNEA CLAVE. (15rem = 240px) */
    /* Ajusta este valor (ej: 12rem, 18rem) al tamaño máximo que desees */
    object-fit: contain;
  }

  .second {
    padding: 0rem 0.5rem;
  }

  .third {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .btnAddCartDesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .addButtonCart {
    display: none;
  }
}

@media (min-width: 1320px) {
  .card {
    grid-template-rows: 3fr 1fr 1fr;
  }

  .btnAddCartDesktop {
    width: 100%;

    button {
      width: 100%;
      font-size: 1rem;
    }
  }
}

@media (min-width: 1600px) {
  .card {
    grid-template-rows: 3fr 1fr 1fr;
  }
}
