.navbar {
  padding-top: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 80px;
  user-select: none;
  -webkit-user-drag: none;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middleDesktop {
  display: none;
  column-gap: 3rem;
}

.link {
  text-decoration: none;
  color: var(--color-texto-principal);
  font-weight: 700;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .left {
    display: none;
  }

  .middleDesktop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .logo {
    height: 100px;
  }

  .middleDesktop {
    gap: 3rem;
  }

  .link {
    font-size: 1.2rem;
  }
}
