.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 80px;
  user-select: none;
  -webkit-user-drag: none;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}
