.alert {
  position: fixed;
  top: 92vh;
  right: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0 0 0 0.1);
  z-index: 1000;
  font-weight: bold;
  opacity: 1;
  border: 2px solid #000000e8;
  transition: all 0.3s ease;
}
