.contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.contenido {
  overflow: hidden;
}

.contPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 3rem 3rem 3rem;
}

.contPrincipal p {
  font-size: 2rem;
}

.emptyDescipcion {
  text-align: center;
}
