/* 1. El Contenedor (Padre) */
.formContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 100%;
  display: flex;
  transition: all 0.2s ease;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 550px;

  padding: 2.5rem;
  border-radius: 8px;
  background-color: var(--fondo-transparente);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.error {
  border: 1px solid rgb(241, 15, 15);
  transition: all 0.2s ease;
}

@media (min-width: 768px) {
  .formContainer {
    padding: 0rem 8rem;
  }
}

@media (min-width: 1024px) {
  .formContainer {
    padding: 0rem 12rem;
  }
}

@media (min-width: 1500px) {
  .formContainer {
    padding: 0rem 20rem;
  }
}
