.optionSelectorContainer {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.2rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
  background-color: #39393945;
  box-shadow: var(--sombra) inset;
  color: var(--color-fuente-principal);
}

.optionSelectorContainer:hover {
  color: var(--color-texto-blanco);
  background-color: var(--color-acento);
}

.first {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0rem 0.4rem;
  column-gap: 0.8rem;
}

.optionArrow {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0.3rem;
}

.optionSelectorContainerChildren {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.2rem;
}

@media (min-width: 1024px) {
  .optionSelectorContainer {
    grid-template-columns: 3fr 1fr;
  }
}
