.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  will-change: transform;
  row-gap: 0.5rem;
}

.contenido {
  position: relative;
}

.title {
  color: var(--color-fuente-principal);
  font-size: 1.5rem;
  font-family: var(--fuente-encabezado);
}

.descripcion {
  color: var(--color-fuente-principal);
  font-family: var(--fuente-principal);
  position: absolute;
  display: flex;
  opacity: 0;
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  top: 0;
  left: 0;
}

.imagen {
  width: 100%;
  height: 100%;
  display: block;
}

.descripcion:hover {
  opacity: 1;
  background-color: #000000cc;
}
