.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: var(--color-texto-principal);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: relative;
  transition: transform 0.5s ease;
  row-gap: 0.5rem;
  will-change: transform;
}

.title {
  font-family: var(--fuente-encabezado);
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 1.2rem;
  width: 100%;
}

.desc {
  margin: 0;
  color: #ccc;
  display: flex;
  font-family: var(--fuente-principal);
  opacity: 0;
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 5% 5%;
  box-sizing: border-box;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.content {
  position: relative;
}

.card:hover .desc {
  opacity: 1;
  background-color: #000000cc;
  border-radius: 0.3rem;
}
