.changeProfileImageContainer {
  max-width: 100%;
  padding: 3rem 0rem;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-transparente);
  border-radius: 1rem;
  max-width: 700px;
}

.changeProfileImageForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.inputFileLabel {
  display: inline-block;
  background-color: var(--color-fondo-secundario);
  border-radius: 0.5rem;
  padding: 2rem;
  transition: all 0.2s linear;
  border: 2px solid transparent;
  text-align: center;
}

.inputFileLabel:hover {
  cursor: pointer;
}

.previewImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  user-select: none;
}

.isDragging {
  border: 2px dashed var(--color-acento);
  transition: all 0.2s;
}
