.contenido {
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding: 0.4rem;
}

.imagen {
  width: auto;
  height: 75%;
  max-width: 100%;
  user-select: none;
}

.contenedorImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  width: 100%;
  height: 90%;
  padding: 0.3rem;
  max-width: 115px;
}

.itemContainer {
  display: flex;
  width: 100%;
  justify-content: start;
  column-gap: 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
}
