.contenido {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 0.4rem;
}

.imagen {
  width: auto;
  height: 75%;
  max-width: 100%;
}

.contenedorImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  max-width: 115px;
}

.item {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  column-gap: 1rem;
}
