@media (min-width: 1024px) {
  .container {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1024px;
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-self: center;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
    background-color: var(--color-fondo-secundario);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    max-width: 1100px;
  }
}
