.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
}

.bienvenido {
  font-size: 40px;
  font-weight: 600;
}

.info {
  text-align: center;
  font-size: 20px;
  margin-bottom: 1rem;
}
