@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
  --fuente-principal: "Roboto", sans-serif;
  --fuente-encabezado: "Orbitron", sans-serif;

  --color-acento: #1e90ff;
  --color-acento-hover: #146ec7;

  --color-fondo: #111;
  --color-fuente-principal: #eee;
  --color-fuente-secundario: #c2c2c2;

  --color-hover-producto: #3a3a3a29;

  --color-texto-blanco: #eee;

  --sombra: 2px 2px 6px #000000a6;
  --sombra-icono: 0px 2px 2px #000000a6;

  --fondo-transparente: #1d1d1d;

  font-size: clamp(14px, 0.8vw + 0.8rem, 18px);
}
