.productEditContainer {
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-acento);
  background-color: var(--color-fondo);
  transition: all 0.3s ease;
  row-gap: 0.2rem;
}

.productEditContainerSecundario {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.6rem;
  transition: all 0.3s ease;
}

.input {
  width: 100%;
  height: 1.4rem;
  padding: 0.4rem;
  outline: none;
  transition: all 0.3s ease;
  border: 2px solid var(--color-acento);
  border-radius: 0.4rem;
}

.textarea {
  min-width: 90%;
  width: 100%;
  padding: 0.4rem;
  outline: none;
  border: 2px solid var(--color-acento);
  border-radius: 0.4rem;
  resize: none;
  height: 100px;
}

.select {
  width: 102%;
  padding: 0.6rem;
  transition: all 0.3s ease;
  border: 2px solid var(--color-acento);
  border-radius: 0.4rem;
}

.containerSecundario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;
  transition: all 0.3s ease;
}

.containerBotones {
  background-color: var(--color-fondo-secundario);
  padding: 0.45rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 0rem 0rem 0.6rem 0.6rem;
  transition: all 0.3s ease;

  button:nth-child(1) {
    background-color: #d61111;
  }

  button:nth-child(1):hover {
    background-color: #a00f0f;
  }
}

.buttonCloseContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
  padding-top: 1rem;
}

.buttonClose {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  color: var(--color-fuente-principal);
  transition: all 0.3s ease;
  cursor: pointer;
}

.buttonClose:hover {
  color: var(--color-fuente-secundario);
}

.titulo {
  margin: 0;
}
