.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modalContainer {
  background-color: var(--color-fondo);
  width: 90%;
  max-width: 500px;

  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  transform: scale(1);
  transition: transform 0.3s ease-out;

  overflow: hidden;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
}

.modalTitle {
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-fuente-principal);
}

.closeButton {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  color: var(--color-fuente-principal);
  padding: 0;
  transition: color 0.2s;
}

.closeButton:hover {
  color: var(--color-fuente-secundario);
}

.modalBody {
  padding: 20px;
  max-height: 70vh;
  overflow-y: auto;
  color: #555;
  line-height: 1.6;
}
