.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  cursor: pointer;
  padding-left: 2px;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.inputElement {
  color: #222;
  outline: none;
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  padding-right: 36px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.inputElement:focus {
  border: 1px solid var(--color-acento);
}

.button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

.button:hover {
  color: #000;
}

.errorMessage {
  font-size: 12px;
  color: #d93025;
  padding-left: 2px;
}

.containerIcono {
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  height: 100%;
  width: 25px;
  border-radius: 0px 0px 0px 0px;
  background-color: var(--color-acento);
  border-radius: 3px 0px 0px 3px;
}
