.hamburgerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburgerButton div {
  width: 2rem;
  height: 0.25rem;
  background: var(--color-fuente-principal);
  border-radius: 10px;
  transition: all 0.2s linear;
  transform-origin: 1px;
}

.open .top {
  transform: rotate(45deg);
}

.open .middle {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.2s ease;
}

.open .bottom {
  transform: rotate(-45deg);
}
