.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  cursor: pointer;
  padding-left: 2px;
}

.errorMessage {
  font-size: 12px;
  color: #d93025;
  padding-left: 2px;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.dateComponent {
  -webkit-appearance: none;
  appearance: none;

  color: #222;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

.dateComponent:focus {
  border: 1px solid var(--color-acento);
  box-shadow: 0 0 0 1px var(--color-acento);
}

.dateComponent::-webkit-calendar-picker-indicator {
  padding: 0;
  margin: 0;
  opacity: 0.7;
  cursor: pointer;
}

.dateComponent::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.dateComponent:invalid {
  color: #a0a0a0;
}
