.contenedor {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  backdrop-filter: blur(5px);
  background-color: var(--color-fondo-secundario-transparencia);
  transition: all 0.2s ease;
}

.contenido {
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 1.5rem 2rem;
  width: 100%;
}

.total {
  color: var(--color-fuente-principal);
  transition: all 0.2s ease;
}

.button {
  max-width: 100%;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;

  font-family: var(--fuente-principal);

  background-color: var(--color-acento);
  color: var(--color-texto-blanco);

  padding: 0.5rem;
  border-radius: 0.35rem;
}
